.progress-card {
  border: 1px solid #eee;

  .title {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .name {
      font-size: 16px;
      font-weight: 500;
      margin-bottom: 15px;
      text-align: center;
    }
    .count {
      font-size: 32px;
      font-weight: 500;
    }
  }
}



 .certifications-content{
  background-color: #e7f2fe;
 }
