@import '../../scss/variables';
.provision-drawer {
  .provision-card {
    margin-top: -23px;
    margin-left: -9px;
    margin-right: -7px;
    border: none;
  }
  .close {
    color: #fff;
    text-shadow: none;
    line-height: 20px;
    font-size: 18px;
    opacity: 1;
    cursor: pointer;
  }
  .card-header{
    background-color: $light-blue-badge-color;
    color: #fff;
  }
  .btn-block{
    width: 80px;
    border-radius: 0!important;
  }
}
