.bg-black{
background-color: #526069;
}
.bg-blue-card{
  background-color:#64a6ea
}
.bg-green{
  background-color:#4dc18a
}
.card-header-color{
  color:#fff
}
.card-span {
  color: #fff;
  font-size: 13px
}
.card-icon{
  width: 26px;
  height: 26px;
  padding: 0 0 !important;
  color: #fff;
}
.badge{
  height: 25px;
  padding-top: 6px;
  padding-left: 6px;
  padding-right: 6px;
  border-radius: 30px;
}
.hr{
  border: none;
  height: 1px;
  background: #eee;
}
.card-border{
  border-color: #eee;
}
.span-font{
  font-size: 13px;
}
