.bg-black{
background-color: #526069;
}
.bg-blue-card{
  background-color:#64a6ea
}
.bg-blue-orange{
  background-color:#f0a655
}
.bg-green{
  background-color:#4dc18a
}
.card-header-color{
  color:#fff
}
.card-span-header {
  color: #fff;
  font-size: 13px
}

.hr{
  border: none;
  height: 1px;
  background: #eee;
}
.card-border{
  border-color: #eee !important;
}
.span-font{
  font-size: 13px;
  margin-bottom: 0.25rem !important
}
.btn-dribbbl {
  color: #76838f;
  background-color: #e4eaec;
  border-color: #e4eaec;

}


.card-span {
  color: #fff;
  font-size: 10px;
  text-shadow: none;
  font-weight: normal;
}
.remove-btn-border-radius{
  border-radius: 0 !important;
}
