@import "../../scss/variables";
.manager-dashboard{
  .btn-block {
    width: 120px;
    border-radius: 0;
  }
}
@media only screen and (max-width: 767px) {
  .manager-dashboard{
    .btn-block {
      width: 100%;
    }
    .pr-0{
      padding-right: 15px !important;
    }
  }
}

